body,
html {
  height: 100%;
}
body {
  margin: 0px;
  background-color: #444;
  font-size: 18px;
}
body,
a:link,
a:visited,
a:active {
  color: lightblue;
}
.title,
.addDancerButton {
  padding: 5px 12px;
  float: right;
}
.topbar {
  height: 32px;
  background-color: #555;
}
.title {
  background-color: #777;
}

@keyframes transformSize {
  from { 
    transform: scaleX(0.5); 
  }
  to { 
    transform: scaleY(2); 
  }
}

@keyframes transformPosition {
  from { 
    margin-left: -20%; 
  }
  to { 
    margin-right: 1000%; 
  }
}

.dancer {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid red;
  transition: transform linear 4s;
  animation: 6s transformSize infinite linear;
  animation: 8s transformPosition infinite linear
}

#container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#inner{
  display:flex;
  width:100%;
  justify-content:center;
}